body {
    margin: auto;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 80vh;
    background-color: rgb(130, 167, 136);
}

img {
    width: 300px;
    height: auto;
}

.hover-rotate {
    margin: 8px;
    min-width: 240px;
    max-width: 320px;
    width: 100%;
}

.hover-rotate img {
    transition: all 0.3s;
    box-sizing: border-box;
    max-width: 100%;
}

.hover-rotate:hover img {
    transform: scale(1.3) rotate(5deg);
    background-color: coral;
    box-shadow: 10px 10px 5px lightblue;
}
